</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          <a class="footer-link" href="/"><img src="/images/wire-purple.png" height="50" width="50" />
            <h3>Audiowire</h3>
          </a>
        </p>
        <p>
          Copyright &copy; 2021
        </p>
      </div>
      <div class="col-md-6">
        <h4>Links</h4>
        <p><a class="footer-link" href="/">Home</a></p>
        <p><a class="footer-link" href="/loops">Loops</a></p>
        <p><a class="footer-link" href="/users">Users</a></p>
        <p><a class="footer-link" href="/create">Upload</a></p>
        <p><a class="footer-link" href="/help">Help</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="/js/audioplayer.js"></script>
<script src="/js/bootstrap.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="/js/master.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#edeff5",
        "text": "#838391"
      },
      "button": {
        "background": "#4b81e8"
      }
    }
  });
</script>
</body>

</html>
